img:hover {
  filter: brightness(0.9); /* Lightens the image by 20% (adjust the value as needed) */
}
img {
  transition: filter 0.3s ease;
}

.SystemDownloadBlock {
  padding-right: 70%;
}

.downloadGuide {
  margin-top: 6%;
  border-top: 1px solid #a3a3a3
}

.downloadTextBlock {
  margin-bottom: 3%;
}

.line {
  margin: 2% 0 2% 0;
}
.line h2{
  margin-top: 20px;
}

.imageLayout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.downloadGuide img {
  height: auto;
  width: 300px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #414141;
  margin: auto 15px auto 15px;
}