@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  background-color: #F4F0C7;
  color: #333;
  font-family: 'Fira Mono', monospace;
  margin: 0;
}

.content {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
}

/* blue stickyNote text background */
.stickyNote {
  background-color: #CBE2F0;
  padding: 4%;
  display: flex;
  border: none;
  height: 20px;
  clip-path: polygon(100% 0, 100% 80%, 95% 100%, 0 100%, 0 0);
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
