@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  color: #333;
  font-family: 'Fira Mono', monospace;
  margin: 0;
}

.App {
  background-color: #F4F0C7;
}

.content {
  padding: 160px 40px 0 40px;
}

/* blue stickyNote text background */
.stickyNote {
  background-color: #CBE2F0;
  padding: 4%;
  display: flex;
  border: none;
  height: 47px;
  clip-path: polygon(100% 0, 100% 80%, 95% 100%, 0 100%, 0 0);
  /* having issues trying to get this shadow to show */
  box-shadow: -20px -20px 10px 5px rgba(0, 0, 255, 0.5);   
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
